<!doctype html>
<html>
    <head>
        <title><%= title %> </title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <style>
            body 		{ padding-top:80px; word-wrap:break-word; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Profile </h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="/blog/create">Write New Article</a>
                        </li>
                        <li class="active">
                            <a href="/home">View All Articles</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="row">           
                      <img src="../../profile-pics/<%= user.profile_pic%>" width="120px" height="100px"> 
                        <form id="uploadForm" enctype="multipart/form-data" action="/user/profile_pic/upload" method="post">
                            <input type="file" multiple="multiple" id="userPhotoInput" name="userPhoto"  accept="image/*" />
                            <input type="submit" name="submit" value="Upload">
                        </form>
                    </div>
                    <form action="/user/<%= user._id %>/edit" method="post">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text"  value="<%= user.name %>" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" value="<%= user.local.email %>" class="form-control" name="email">
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>